p {
    margin: 10px 0;
    padding: 20px;
    background-color: aquamarine;
    border-style: solid;
    border-width: 3px;
    border-color: red;
}

h1 {
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    /* border-top-color: green;
    border-bottom-color: yellow;
    border-left-color: blue;
    border-right-color: cyan; */
    border-color: green black blue cyan;
}