.verde-claro {
    background-color: greenyellow;
}

.azul{
    background-color: blue;
}

.rosa {
    background-color: hotpink;
}

.laranja-escuro {
    background-color: orangered;
}

.verde-forte {
    background-color: green;
}

.marrom {
    background-color: brown;
}

.container {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(3,auto);
    grid-gap: 15px;
}

.verde-claro{
    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* grid-column: 1 / span 2;
    grid-row: 1 / span 2 */

    /* grid-row - collumn - row-end - collumn-end*/

    grid-area: 1 / 1 / 3 / 3;
}

.azul {
    grid-area: 1 / 3 / 1 / 6;
}

.rosa {
    grid-area: 3 / 1 / 3 / 3 ;
}

.laranja-escuro {
    grid-area: 2  / 3 / 4 / 5 ;
}

.verde-forte{
    grid-area: 2 / 5 / 2 / 6;
}

.marrom {
    grid-area: 3 / 5 / 3 / 6;
}
/* .span {
    grid-column: 1 / span 2;
} */