h1 {
    color: green;
}

.paragrafo {
    color: blue;
}

#menu {
    margin-left: 100px;
}

* {
    padding: 0;
    font-size: 20px;
}

.titulo.vermelho {
    color: red;
}

.titulo.laranja {
    color: orange;
}

p, span {
    font-size: 10px;
}

.sobre .texto {
    color: aqua;
}

div > p {
    color: purple;
}

div + p {
    color: blue;
}

a[target=_blank]{
    color: red;
}