/* seletor::pseudo-elemento{
    propriedade: valor;
} */

.first-letter::first-letter{
    color: coral;
}

.first-line::first-line {
    color: coral;
}

li::marker {
    color: red;
    font-size: 23px;
}

h2::before {
    content: url(favicon.ico);
}

h2::after {
    content: url(favicon.ico);
}