@media (max-width: 750px){
    .container {
        padding: 45px 20px;
        /* align-items: center; */
        /* flex-direction: column; */
    }

   
}

@media (max-width: 1300px){

    main {
        display: flex;
        justify-content: center;
    }

    .container{
        max-width: 900px;
        flex-wrap: wrap;
    }

    .imagem {
        margin-right: 1px;
        margin-bottom: 1px;
    }
}