.container {     
    padding: 129px 20px 129px;
    display: flex;
    justify-content: center;
}

.imagem {
    margin-right: 20px;
    display: flex;
    align-items: flex-end ;
}

.rome {
    width: 335px;
    height: 430px;
    background: url(../src/img/rome.png) center center no-repeat ;
}

.boat {
    width: 335px;
    height: 430px;
    background: url(../src/img/boat.png);
}

.sand{
    width: 335px;
    height: 430px;
    background: url(../src/img/sand-and-sea.png) center center no-repeat;
}

.starry{
    width: 335px;
    height: 430px;
    background: url(../src/img/starry-night.png) center center no-repeat;
}

.texto {
    color: #FFFFFF;
    margin: 43px 18px;
}

.texto h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.texto h3 {
    font-size: 17px;
    font-weight: 300;
}


