*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Public Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}