@media (max-width: 755px){
    .cabecalho {
        padding: 0;
        padding-top: 50px;
        flex-direction: column;
        text-align: center;
    }

    .logo  h1{
        font-size: 40px;
        margin-left: 8px;
    }

    .menu {      
        margin-top: 50px;    
        flex-direction: column;
    }

    .menu li {
        margin-top: 50px;
    }

    .menu li:last-child{
        margin-top: 65px;
    }
    
    .menu li a{
        font-size: 40px;
        padding: 17px 40px;
        margin-left: 0;
    }


    .menu li a.cad{
        font-size: 18px;
        padding: 15px 23px;
        margin-left: 0;
    }
    
}