html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;   
}

.acordeon {   
    display: flex;
    align-items: center;
    width: 655px;
    height: 347px;
    border-radius: 21px;
    background-color: #FCFCFC;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;

}

.acordeon > img {
    margin-left: -90px;
}

.container{
    width: 480px;
}

.container h1 {
    margin-left: 37px;
    font-size: 25px;
    font-weight: 700;
}

.content{
    margin: 0 35px;
    border-bottom: 1px solid #D4D4D4;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 15px; 
    padding-left: 0;
}



.title h2 {
    font-size: 17px;
    font-weight: 500;
}


.content p {
    display: none;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;
}

.content .active{
    display: block;
}

.title .open{
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

