body {
	margin: 0;
}

.container {
	display: grid;
	padding: 3em;
	gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.container p {
	padding: 2em;
	border-radius: 0.3em;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

/* @media (max-width: 550px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 750px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 950px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
} */
